@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Space+Mono&display=swap');

:root{
	--color-texto:#151515;
	--color-azul:#6497F1;
	--color-naranja:#FFB11F;
	--color-negro:#0E0E0E;
	--color-blanco:#E9E9E9;
	--color-fondo:#F7F5DB;
	--color-fondo-dos:#FFC0EF;
	--color-fondo-tres:#C5D5FF;
	--color-fondo-cuatro:#FFC8A8;
	--color-fondo-cinco:#FFB2B3;
}

body{
	font-family: 'Lobster', cursive;
	font-size: 16px;
	color: var(--color-fondo);
	font-weight: 300;
}
body h1{
	font-size: 80px;
	color: var(--color-naranja);
	background-color: rgba(0,0,0,0.5);
}
body h2{
	font-size: 40px;
	color: var(--color-texto);
	background-color: rgba(0,0,0,0.2);
}
body h3{
	font-size: 30px;
	color: var(--color-texto);
	background-color: rgba(0,0,0,0.2);
}
body h4{
	font-size: 30px;
	color: var(--color-blanco);
	background-color: rgba(0,0,0,0.5); 
}
body h6{
	font-size: 15px;
	color: var(--color-blanco);
	opacity: 80%;
	text-align: left;
	margin: 10px;
	padding-left: 30px;
}
body p,a{
	font-size: 18px;
	color: var(--color-texto);
	text-align: justify;
}
header{
	background-color: var(--color-negro);
	padding: 5px 0;
	color: var(--color-blanco);
	width: 100%;
	position: fixed;
	display: block;
	box-sizing: border-box;
	z-index: 1;
}
footer{
	background-color: var(--color-negro);
	color: var(--color-blanco);
	width: 100%;
	text-align: center;
	display: block;
	box-sizing: border-box;
	padding: 20px;
}
#hero-slides{
	position: relative;
    display: block;
    top: 99px;
	width: 100%;
    height: 100%;
	z-index: 0;
}
#inicio{
	background-color: var(--color-fondo);
	position: relative;
	display: inline-block;
	top: 20px;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	z-index: -1;
}
#recetas{
	background-color: var(--color-fondo-dos);
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	z-index: -1;
}
#ofertas{
	background-color: var(--color-fondo-tres);
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	z-index: -1;
}
#portafolio{
	background-color: var(--color-fondo-cuatro);
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	z-index: -1;
}
#contacto{
	background-color: var(--color-fondo-cinco);
	position: relative;
	display: inline-block;
	text-align: center;
	align-content: center;
	width: 100%;
	padding: 15px 20px;
	z-index: -1;
}
#contacto .container{
	padding-top: 20px;
}
#form-contact{
	margin: 0 220px;
}
.carousel-caption{
	display: grid !important;
	align-content: flex-start;
	text-align: left;
	color: var(--color-blanco);
}
.main_blog, .main_pricing{
    overflow: hidden;
	text-align: center;
	align-content: center;
    width: 100%;
}
.roomy-100{
    padding-top: 100px;
    padding-bottom: 10px;
}
.head-title{
    padding-bottom: 2rem;
    overflow: hidden;
	text-align: center;
}
.separator-auto{
    width: 66%;
    height: 2px;
    margin: 20px auto;
    background: var(--color-naranja);
}
.col-md-4{
	padding-bottom: 30px;
}
.capa-galeria{
	overflow: hidden;
    width: 100%;
}
.capa-galeria img{
	height: 350px;
}
.capa-galeria a{
    color: var(--color-azul);
}
.capa-galeria a:hover{
    color: var(--color-texto);
}
.blog-text{
    border: 1px solid var(--color-naranja);
	padding: 10px;
}
.btn-agusto{
	background-color: var(--color-blanco);
	color: var(--color-azul);
	border-radius: 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 15px 40px;
}
.btn-agusto:hover{
	background-color: var(--color-naranja);
	color: var(--color-texto);
	border:1px solid var(--color-texto);
}
/* definición para PC/md */
@media (min-width:1200px){
	
}
/* definición para Tablet/sm */
@media (min-width:480px) and (max-width:1200px){
	
}
/* definición para Celular */
@media (max-width:480px){
	body h1{
		font-size: 25px;
	}
	body h4{
		font-size: 10px;
	}
	#form-contact{
		width: 100%;
		margin: 0;
	}
}